*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar start */
.btn2 {
width: 150px;
height: 45px;
top: 45.62px;
left: 1140px;
gap: 0px;
border-radius: 30px;
border: 1px 0px 0px 0px;
opacity: 0px;
color: #3878FF;
border: 1px solid #3878FF;
}

.btn2{
    background-color: transparent;

}


.btn1 {
 margin-right: 20px;
 border: none;
 font-size: large;
 background-color: transparent;
 font-family: sans-serif;
}

.middle {
    font-weight: 500;
    color: black;
}


.middle:hover {
    color: #3878FF;
}

/* navbar end */

/* hero sction start */
.heading{
  margin-top: 100px;
}

.heading button {
 width: 250px;
height: 60px;
top: 476.77px;
left: 150px;
gap: 0px;
border-radius: 10px;
opacity: 0px;
font-size: larger;
}
/* hero section main page end */

/* hero section rectangle start */
.rectangle {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-top: 50px;
    border-radius: 30px;
    padding: 60px 60px;
}


/* hero section rectangle end */

/* hero page2 start */
.page2{
    margin-top: 100px;
}
/* hero page2 end */

/* hero page 3 start */
.page3 .pg3-heading, .pg3-para {
    text-align: center;
}

.page3 .pg3-heading {
    margin-top: 150px;
}

.page3 .pg3-para {
 font-weight: 500;
 margin-bottom: 70px;
}

/* card1 start */

.card1 {
    text-align: center;
}

.card1 .img1 img{
    margin-bottom: 30px;
}

.card1 .card1-heading {
    margin-bottom: 30px;
    font-size: x-large;
}

.card1 .img2 img {
    margin-bottom: 80px;
    width: 250px;
    height: 170px;
}

.card1 .card1-para {
    font-size: xx-large;
}

.card1 button {
    padding: 10px 70px 10px 70px;
    border-radius: 30px;
    font-size: larger;
}



/* card2 start */

.card2 {
    text-align: center;
}

.card2 .img1 img{
    margin-bottom: 30px;
}

.card2 .card2-heading {
    margin-bottom: 30px;
    font-size: x-large;
}

.card2 .img2 img {
    margin-bottom: 50px;
    width: 250px;
    height: 200px;
}

.card2 .card2-para {
    font-size: xx-large;
}

.card2 button {
    padding: 10px 70px 10px 70px;
    border-radius: 30px;
    font-size: larger;
}


/* card3 start */

.card3 {
    text-align: center;
}

.card3 .img1 img{
    margin-bottom: 30px;
}

.card3 .card3-heading {
    margin-bottom: 30px;
    font-size: x-large;
}

.card3 .img2 img {
    margin-bottom: 50px;
    width: 250px;
    height: 200px;
}

.card3 .card3-para {
    font-size: xx-large;
}

.card3 button {
    padding: 10px 70px 10px 70px;
    border-radius: 30px;
    font-size: larger;
}
/* hero page 3 end */


/* hero page 4 start */
.page4 .pg4-heading, .pg4-para {
    text-align: center;
}

.page4 .pg4-heading {
    margin-top: 100px;
    margin-bottom: 30px;
}

.page4 .pg4-para {
    margin-bottom: 100px;
}
/* hero page 4 end */


/* hero page 5 start */
.page5 .page5-heading{
    margin-top: 100px;
    margin-bottom: 30px;
}
.page5 .page5-heading, .page5-para {
    text-align: center;
}
.page5 .page5-para {
  margin-bottom: 50px;
}

.page5 .card1 {
    border-radius: 10px;
    margin-right: 50px;
}


.page5 .card1 .images{
margin-bottom: 67px;
}
.page5 .card1 .img1{
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 170px;
    height: 50px;
}
.page5 .card1 .img2{
    margin-top: 20px;
    margin-bottom: 80px;
    width: 20px;
    height: 15px;
}
.page5 .card1 .img3{
    margin-top: 20px;
    margin-bottom: 80px;
    width: 15px;
    height: 15px;
}

.page5 .card2 {
    border-radius: 10px;
    margin-right: 50px;
}
.page5 .card2 .images img {
 margin-top: 20px;
}


.page5 .card2 .images .img1 {
    width: 170px;
    height: 50px;
   }
.page5 .card2 .img1 {
    margin-right: 30px;
}

.page5 .card2 p {
    margin-bottom: 73px;
    margin-top: 20px;
}

.page5 .card3 {
    border-radius: 10px;
}

.page5 .card3 .images img {
    margin-top: 20px;
   }

   .page5 .card3 .images .img1 {
    width: 190px;
    height: 50px;
   }

   .page5 .card3 p {
    margin-bottom: 50px;
    margin-top: 20px;
}

.page5 .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.page5 .images2 {
    display: flex;
}

.page5 .images2 .img1 {
    width: 100px;
    height: 20px;
    margin-left: 80px;
    margin-top: 50px;
}

.page5 .images2 .left {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-top: 50px;
}

.page5 .images2 .right {
    width: 120px;
    height: 120px;
    margin-top: 25px;
}

.page5 .card1 {
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.page5 .card2 {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    .page5 .card3 {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }

/* hero page 5 end */


/* footer section start */

.footer {
width: 1140px;
height: 233px;
top: 4526px;
left: 150px;
gap: 0px;
border-radius: 10px 10px 10px 10px;
opacity: 0px;
}

.footer input{
width: 609px;
height: 60px;
border-radius: 10px 10px 10px 10px;
border: 2px 0px 0px 0px;
opacity: 0px;
transition: 0.7s;
margin-top: 50px;
}

.footer input {
 margin-left: 120px;
}

.footer input:hover {
   border: 2px solid blue;
   transition: 0.7s;
   }

.footer input::placeholder {
padding-left: 30px;
font-size: larger;
}

.footer .input-parent button {
width: 230px;
height: 60px;
border-radius: 10px 10px 10px 10px;
margin-right: 100px;
font-size: larger;
margin-top: 50px;
}

.footer .input .input-para {
    margin-left: 120px;
}

.footer .parent {
    background-color: honeydew;
}

.input-parent {
   display: flex;
   border: 1px solid;
   border-radius: 15px;
}
  
.footer .main-footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer .main-footer .img .img1 {
    margin-bottom: 20px;
}

.footer .main-footer1 {
    margin-top: 20px;
}

.footer .main-footer2 {
    margin-top: 20px;
}

.footer .main-footer3 {
    margin-top: 20px;
}




/* header fixed code */

.header.container {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: 60px;
}

.navbar {
    padding: 10px 0;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar-text {
    display: flex;
    align-items: center;
}

.btn1 {
    margin-right: 10px;
}


body {
    padding-top: 80px;
}
